<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--服务组件配置-->
    <!--工作线程间隔，单位：秒。不同工作线程的时间间隔用逗号或分号隔开。可以通过设置任务的时间间隔小于0来关闭指定任务-->
    <add key="XAgent.Interval" value="20,60" />
    <!--最大活动时间，单位：秒。超过最大活动时间都还没有响应的线程将会被重启，防止线程执行时间过长。默认0秒，表示无限-->
    <add key="XAgent.MaxActive" value="1200" />
    <!--最大占用内存，单位： M。超过最大占用时，整个服务进程将会重启，以释放资源。默认0秒，表示无限-->
    <add key="XAgent.MaxMemory" value="1500" />
    <!--最大总线程数，单位：个。超过最大占用时，整个服务进程将会重启，以释放资源。默认0个，表示无限-->
    <add key="XAgent.MaxThread" value="0" />
    <!--自动重启时间，单位：分。到达自动重启时间时，整个服务进程将会重启，以释放资源。默认0分，表示无限-->
    <add key="XAgent.AutoRestart" value="600" />
    <!--服务名-->
    <add key="XAgent.ServiceName" value="" />
    <!--显示名-->
    <add key="XAgent.DisplayName" value="" />
    <!--服务描述-->
    <add key="XAgent.Description" value="" />
    <!--看门狗，保护其它服务，每分钟检查一次。多个服务名逗号分隔-->
    <add key="XAgent.WatchLog" value="ZtoSMSBackgroupdOnsAgent" />
    <!--附加代理服务。任何XAgent服务程序都可以附加代理实现了IServer接口的服务，多个服务类用相同前缀的多个设置项-->
    <add key="XAgent.AttachServer.名称" value="" />
    <!--附加代理服务配置。-->
    <add key="XAgent.名称.DomainName" value="" />   
    <add key="BusinessDbConnection" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.226)(PORT=1521)))(CONNECT_DATA=(SID=ztwd)));User Id=ztwd;Password=wdcen133#^*;Connection Lifetime=60;Connect Timeout=60;" />
    <add key="BusinessDbType" value="Oracle" />
    <add key="ZtMdbDbConnection" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.235)(PORT=1521)))(CONNECT_DATA=(SID=ztmdb)));User Id=readonly;Password=read^^#123;Connection Lifetime=60;Connect Timeout=60;" />
    <add key="ZtMdbDbType" value="Oracle" />
    <add key="ZtJsDbDbConnection" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.212)(PORT=1521)))(CONNECT_DATA=(SID=ztjsdb)));User Id=readonly;Password=read^^#123;Connection Lifetime=60;Connect Timeout=60;" />
    <add key="ZtJsDbDbType" value="Oracle" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="OperateLog" connectionString="Data Source=C:\TestDB\系统数据\执行日志信息.db;" providerName="Sqlite"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>