<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
</head>
<body style="padding: 10px;" ng-app="app">
      <div ng-controller="MyCtrl">
          <input type="text" ng-model="user.uname">
          <input type="text" ng-model="user.pwd">
         <!-- <h1>{{reverse}}</h1> -->
          <div class="btn btn-block"  ng-click="login()">登陆</div>
          <div class="alert-info">{{errormsg}}</div>
      </div>
</body>
<script src="angular.min.js"></script>
<script src="angularjs05.js"></script>
</html>